__pycache__
venv

__pycache__/
*.pyc
*.log

.venv/
venv/

.vscode/

reports/
sales_eda/graphs/
sales_eda/excel/
eda_outputs/

*.zip

data/*.xlsx
data/pdfs/

__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/
*.log

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak